{% if site.google_analytics %}
	<!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.google_analytics }}');
    </script>
	<!-- End Google Analytics -->
{% endif %}

<script>
// This is a lightweight and privacy-friendly analytics script from Shynet, a self-hosted
// analytics tool. To give you full visibility into how your data is being monitored, this
// file is intentionally not minified or obfuscated. To learn more about Shynet (and to view
// its source code), visit <https://github.com/milesmcc/shynet>.
//
// This script only sends the current URL, the referrer URL, and the page load time. That's it!

var Shynet = {
  idempotency: null,
  heartbeatTaskId: null,
  skipHeartbeat: false,
  heartbeat_frequency: 5000, // How frequently should the tracking script "phone home" with a heartbeat, in milliseconds?
  sendHeartbeat: function () {
    try {
      if (document.hidden || Shynet.skipHeartbeat) {
        return;
      }

      Shynet.skipHeartbeat = true;
      var xhr = new XMLHttpRequest();
      xhr.open(
        "POST",
        "https://jamesravindran.eu.pythonanywhere.com/shynet",
        true
      );
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onload = function () { 
        Shynet.skipHeartbeat = false;
      };
      xhr.onerror = function () { 
        Shynet.skipHeartbeat = false;
      };
      xhr.send(
        JSON.stringify({
          idempotency: Shynet.idempotency,
          referrer: document.referrer,
          location: window.location.href,
          loadTime:
            window.performance.timing.domContentLoadedEventEnd -
            window.performance.timing.navigationStart,
        })
      );
    } catch (e) {}
  },
  newPageLoad: function () {
    if (Shynet.heartbeatTaskId != null) {
      clearInterval(Shynet.heartbeatTaskId);
    }
    Shynet.idempotency = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
    Shynet.skipHeartbeat = false;
    Shynet.heartbeatTaskId = setInterval(Shynet.sendHeartbeat, Shynet.heartbeat_frequency);
    Shynet.sendHeartbeat();
  }
};

window.addEventListener("load", Shynet.newPageLoad);
</script>
