{% extends "index.html" %}

{% block content %}
<style>
.tags > .label > li:before {
     content: "";
}
 .tags > .label > li {
     margin: 0;
     display: inline;
}
 .tags > .label > li > a {
     display: inline-block;
     margin: 1px;
     color: #343a40;
     background-color: #e9ecef;
     border-radius: 3px;
}
 .tags > .label > li > a span {
     float: left;
     padding: .5px 5px;
}
 .tags > .label > li > a span.count {
     background-color: #dee2e6;
     border-radius: 0 3px 3px 0;
}
</style>

<h1>{{ taxonomy.name | title }}</h1>
<div class="tags">
	<ul class="label" style="padding-left: 0px;">
		{% for tag in terms %}
			<li>
				<a href="#{{ tag.name }}">
					<span>{{ tag.name }}</span>
					<span class="count">{{ tag.page_count }}</span>
				</a>
			</li>
		{% endfor %}
	</ul>
</div>

{% for tag in terms %}
	<h2 id="long form"><a href="{{ tag.permalink }}">{{ tag.name }}</a></h2>
	<ul>
	{% for post in tag.pages %}
		<li>
		  {% if post.link %}
			<a href="{{ post.link }}">
		  {% else %}
			<a href="{{ post.permalink }}">
		  {% endif %}
			{{ post.title }}
		  </a>
		  <time style="color: #757575; font-size: 0.9em; margin-left: 5px;" datetime="{{ post.date | date(format="%Y-%m-%dT%H:%M:%SZ") }}">{{ post.date | date(format="%Y-%m-%d") }}</time>
		</li>
	{% endfor %}
	</ul>
{% endfor %}

{% endblock content %}